.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabeçalho{
    background-color: rgb(233, 226, 226);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
}
.list-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vwm;
.container__botao:checked~.list-menu{
    display: block;
}
.list-menu__titulo.
list-menu__item{
    padding: 1em;
    background-color: white;
}
.list-menu__titulo{
   color: orange;
}
.list-menu__limk{
    background: rgb(112, 112, 177);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}